* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Header ---*/
.container {
    max-width: 1000px;
    margin: 0 auto;
}

.hero_section{
    background-image: url("imgs/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h3, label, p {
   font-family: "Source Sans Pro", sans-serif; 
}

.hero_section .hero {
    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 115px;
    padding-inline: 66px;
}

.hero .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    width: 100%;
    img {
        width: 161px;
        height:32px;
    }
    nav {
        display: flex;
        gap: 41px;
        a {
            text-decoration: none;
            color: white;
            font-family: "Source Sans Pro", sans-serif;
            font-weight: bold ;
            font-size: 12px;
        }
    }
}
.hero .menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    span {
        height: 3px;
        width: 25px;
        background: white;
        margin-bottom: 4px;
        border-radius: 5px;
    }
}
.spanbar.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.spanbar.active span:nth-child(2) {
  opacity: 0;
}

.spanbar.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

.hero-main {
    
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    h1 {
        color: white;
        font-size: 32px;
        font-weight: bold;
        text-align: center;
    }
    p {
        color: white;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
    }
    button {
        font-family: "Source Sans Pro", sans-serif;
        color: white;
        font-weight: bold;
        font-size: 14px;
        background-color: #FF6565;
        width: 162px;
        height: 44px;
        border-color: #FF6565;
        border-radius: 22px;
        margin: 40px 0;
        box-shadow: 5px 5px 10px rgb(41, 40, 40);
    }
    .text {
        
        color: white;
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        max-width: 637px;
    }

}

@media (max-width: 768px) {


    p{
        font-size: 12px;
    }
    .hero-main {

        h1 {
            font-size: 24px;
        }
        p {
            font-size: 12px;
        }
        button {
            width: 142px;
            height: 34px;
            font-size: 12px;
            margin-top: 20px;
        }
        .text {
            font-size: 14px;
            padding-top: 40px;
        }
    }
}
@media (max-width: 375px) {
    .hero .navbar {
        display: none;
    }
    .spanbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .hero .menu-icon {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
        img {
            width: 161px;
            height: 32px;
        }
    }
    .hero-main {
        gap: 5px;
        h1 {
            font-size: 20px;
        }
        p {
            font-size: 10px;
        }
        button {
            width: 120px;
            height: 30px;
            font-size: 10px;
            margin-top: 10px;
        }
        .text {
            font-size: 12px;
            padding-top: 20px;
        }
    }
}

/*  WHAT WE DO SECTION */

.what-we-do .we-do {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 100px 0;
    gap: 150px;
    .h1-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-inline: 66px;
        gap: 40px;
        h1 {
            font-size: 32px;
        }
        .text {
            
            color: black;
            font-family: "Source Sans Pro", sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            max-width: 637px;;
        }

    }

}
.we-do .icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 56px;
    flex-wrap: wrap;
    
    .icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 207px;
        height: 179px;
        gap:24px;
    }
    p {
        padding-top:13px;
        text-align: center;
        line-height: 26px;
    }

}

/* OUR RESULTS SECTION */

.dark {
    background-image: url("imgs/background-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
    
.dark .our-results {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
    .h1-text {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
        text-align: center;
        margin: 110px 66px 0 66px;
        h1 {
            font-size: 32px;
            color: white;
        }
        .text {
            color: white;
            font-family: "Source Sans Pro", sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            max-width: 637px;
        }
    
    }
    .images {
        
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 80px;
        gap: 76px;
    }

}    


/* FORM SECTION CONTACT US */

.contact-us .form-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    form {
        margin-top: 110px;
        margin-bottom: 130px;
        width: 335px;
        height: 373px;
    }
    h1 {
        font-weight: 600;
        font-size: 32px;
        text-align: center;
    }
    .form-area {
        padding-top: 56px;
        display: flex;
        flex-direction: column;
        gap: 45px;
        label {
            font-weight: 600;
            font-size: 14px;

        }
        .label-input {
            display: flex;
            flex-direction: column;
            input , textarea {
                border: none;
                border-bottom: 1px solid rgb(197, 191, 191);
            }
        }
    }
    button {
        font-family: "Source Sans Pro", sans-serif;
        color: white;
        font-weight: bold;
        font-size: 14px;
        background-color: #FF6565;
        width: 162px;
        height: 44px;
        border-color: #FF6565;
        border-radius: 22px;
        margin-top: 30px;
        align-self: center;
    }
}
@media (max-width: 375px) {
    form {
        padding-inline: 20px;;
    }
}

/* FOOTER */

footer {
    background-color: #071629;
    .footer-class {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: 66px;
        padding-top: 90px;
        padding-bottom: 110px;
    img {
        width: 161px;
        height:32px;
    }
    p {
        text-align: center;
        color: rgb(83, 82, 82);
        font-size: 12px;
        font-weight: normal;
    }
}
}
@media (max-width: 375px) {
    .footer-class {
        flex-direction: column;
        gap: 40px;
    }
}